aside{
	//display: none;
	position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
	
	border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
	z-index: 200;
	margin: 0;
}

aside #aside_switch{
	float: left;
    
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 15px;

	border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
	
	cursor: pointer;
}

aside #aside_contents{
	float: left;
    height: 100%;
    width: 240px;
	
	position: relative;

    background: url(../img/scroll2.png) no-repeat;
    background-size: 100% 100%;
}

aside #aside_contents #list_plans{
	list-style-type: none;
    
    margin: 15px 22px 0px 22px;

	position: relative; 
}

aside #aside_contents #list_plans:not(li){
	line-height: 60px;
    text-align:  center;
    font-size: 20px;
    
}

aside #aside_contents #list_plans li{
	text-align: left;
	line-height: 20px;
    font-family: Buxton Sketch;
    font-size: 20px;
    
    color: brown;
    font-family: 微軟正黑體;
    padding: 10px 10px 10px 15px;
    //border-top: 1px dotted purple;
}

aside #aside_contents #new_plan{
	position: absolute;
	bottom: 0;
	width: 100%;
	
	text-align: center;
	line-height: 22px;
    
    font-size: 22px;
	
	margin: 27px 0px 27px 0px;
    
	cursor:pointer;
    color: brown;
	font-weight: bold;
}

#auth{
	position: fixed;
	left: 0;
	top: 0;
	
	height: 100%;
	width: 100%;
	background: transparent;
	_zoom:1;
}

#auth{
	overflow: hidden; 
}

.auth{
	display:none;
}

#book{
	position: fixed; 
	left: 2rem;
	top: 4rem;	
}

#book-base{
	position:fixed;
	background:url(../img/BlueBook4.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 	
}

/* ^^^^^^^^ BELOW IS THE CODE FOR THE MENU ^^^^^^^^^^ */
#menu_logout, #menu_user{
	display: none;
	float: right;
}
/* ^^^^^^^^ ABOVE IS THE CODE FOR THE MENU ^^^^^^^^^^ */

#hint{
	color: pink;
}

html { font-size:100% } 