/*** PAGE LEFT***/
.page_title{
	position:absolute;
	margin-top: 30px;
	padding-left: 20px;
	font-size: 30px;
	cursor: default; 
}

.page_timer{
	position:absolute;
	top:100px;
	left:40px;
	z-index:+1;
	text-align:center;
	margin:1% 0;
}

.page_gameContent{
	position:absolute;
	top:80px;
	background: url(../img/game_background.png) 60% 100%;
	height:370px;
	margin:1% 5%;
	padding:3% 0%;
	font-size: 40px;
}

.page_gameContent img{
	width:25%;
	position:relative;
	top:160px;
	left:55px;
}


.bubble 
{
position: relative;
font-size:15px;
top:-40px;
left:10px;
width: 120px;
height: 50px;
padding: 3px;
background: #FED45E;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
border: #000000 solid 1px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 10px 0;
border-color: #FED45E transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 50px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 10px 0;
border-color: #000000 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -16px;
left: 50px;
}

/*** PAGE RIGHT***/

#page_now{
	position:relative;
	width:60px;
	height:23px;
	top:0px;
	font-size:20px;
	border-width:0px;
	background: #D0DDE9;
	color: black;
	text-align:center;
}


.page_progress{
	position: relative;
	top: 60px;
	
	margin: 5% auto;
	width: 80%;
	text-align:center;
	padding: 10px;
	line-height: 30px;	
	font-size: 20px;
}

.page_progressTitle{
	position:absolute;
	top:30px;
	left:40px;
	font-size:30px;
	
}

.page_diary{
	position:relative;
	top:50px;
	left:40px;
	font-size: 30px;
	cursor: default; 
	
}

.page_diaryContent{
	position:relative;
	top:60px;
	width: 80%;
	height: 30%;
	margin: 0 10%;
	border-width:0px;
	background: #D0DDE9;
	padding:5px;
	resize: none;
}

.page_bean{
	position:absolute;
	width:340px;
	height:50px;
	top:410px;
	left:27px;
	background: url(../img/bean.png);
}

.page_status{
	position:absolute;
	top:430px;
	left:30px;
}

.rangeInput{
	-webkit-appearance: none;
	background:lightgreen;
	
	width: 250px; 
	height: 20px; 
	margin: 5px 0; 
	padding: 0;
}

.rangeInput::-webkit-slider-thumb{
	-webkit-appearance: none;
	background:green;	
	width: 10px; 
	height: 30px; 
}

.rangeOutput{
	background:white;
	padding-left:10px;
	padding-right:10px;
	background:transparent;
}

