.page_left{
	position: absolute;
	left: 0;
	//background: url(../img/paper1.jpg) 0 0;
	background:#e8f0fb;
	box-shadow: inset -1px -1px 6px -1px #5A8397;
	
}

.page_right{
	position: absolute;
	right: 0;	
	top:0;
	//background: url(../img/paper1.jpg) 0 0;
	background:#e8f0fb;
	box-shadow: inset 1px -1px 6px -1px #5A8397;
}

.page_right, .page_left{
	text-align:center;
	padding-top:35%;
	height: 45%;
	width: 50%;
 
}
.page_top{
	position:absolute;
	margin:5% 5% 0 5%;
	  
	background-color:#fed966;
	height:40%;
	width:90%;
	text-align: center;
}
.page_timer{
	text-align:center;
	margin:1% 0;
}
.page_gameContent{
	background-color:white;
	height:30%;
	margin:1% 5%;
	padding:3% 0%;
	border:2px solid; 
	font-size: 40px;
}
.page_title{
	font-size: 30px;
	cursor: default; 
}
.page_diary{
	font-size: 30px;
	cursor: default; 
	margin-bottom:3%;
}
.page_progress{
	margin-top:10%;
	margin-bottom:5%;
	padding: 10px;
	line-height: 30px;	
	font-size: 50px;
}

.page_diaryContent{ 
	padding:5px;
}
.typein
{
   font-size:25px;
   font-weight:bold;
   color:#FFFFFF;
   width:80px;
   height:50px;
   background-color:#2f5596;
}
p #create_deadline{
  font-size:20px;
  //color:red;
}
h2{
   font: bold 1.4em 'Lucida sans', 'Trebuchet MS', Tahoma, Arial;
   color: #555;
}

#page_create input{
	display:inline;
	margin-right:13px;
	height:25px;
	border-width:0px;
	background: rgba(172, 191, 206, 0.25);
	color: black;
}

.create_left{
	position: absolute;
	left: 0;
	//background: url(http://merry.ee.ncku.edu.tw/~htckenny/PlanIt/img/paper1.jpg) 0 0;
	background:#e8f0fb;
	box-shadow: inset -1px -1px 6px -1px #5A8397;
	
}

.create_right{ 
	position: absolute;
	right: 0;	
	top:0;
	background:#e8f0fb;
	box-shadow: inset 1px -1px 6px -1px #5A8397;
}

.create_right, .create_left{
	text-align:center;
	padding-top:0%;
	height: 100%;
	width: 50%;
 
}
.create_title{  
	position:absolute;
	top:10px;
	left:5px;
	font-size: 30px;
	padding:10px;
	cursor: default; 
}
.create_name{
	position:absolute;
	top:80px;
	left:30px;
	text-align:center;
	font-size:25px;
  
}
.create_name_text{
	position:absolute;
	top:120px;
	width:313px;
	left:30px;
	height:25px;
	border-width:0px;
	background:#acbfce;
}

.create_target{
	position:absolute;
	top:160px;
	left:30px;
	font-size: 25px;    
}
.create_flow{
	position:absolute;
	top:200px;
	left:30px;
	font-size: 20px; 
}
.create_flow li{  
	display:inline;
	margin-right:55px;
	
}
.create_deadline{
	position:absolute;
	top:280px;
	left:30px;
	font-size:25px;
	font-weight:normal;
}

.create_picture{
	background: url(../img/goals.png);
	width:	294px;
	height:	180px;
	position:absolute;
	top:20px;
	left:40px;
	padding:10px;
}
.create_diary{
	position:absolute;
	top:250px;
	left:110px;	
	font-size:	30px;
	
}
.create_diaryContent{ 
	padding:5px;
	position:absolute;
	top:280px;
}
.create_botton{
  margin-top:5%;
}
.value{
	position:absolute;
	top:230px;
	left:30px;
}

.value input{
	display:inline;
	width:90px;
	margin-right:13px;
	height:25px;
	border-width:0px;
	background:#acbfce;
}

#create_deadline{
	width:6em;
}

#create_deadtime{
	width:5em;
}

#line input[type="text"]{
	background-color: transparent;
	font-size:18px;
	border-bottom:1px solid #000000; 
	border-top:0px;
	border-left:0px;
	border-right:0px;
	width:60%;
	height:30px;
	text-align:center;  
}

    
.delete:before
{
  content: "\2718";        
}    
.save:before
{
  content: "\2714";        
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#book input:focus{
	outline:none;	
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
