.page_left{
	position: absolute;
	left: 0;
	background: url(../img/paper.jpg) 0 0;
}

.page_right{
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/paper.jpg) -50em 0;

	transform-origin:right;
	transform:skewY(5deg);
}

.page_right, .page_left{
	height: 100%;
	width: 50%;
}

.page_title{
	text-align: center;
	font-size: 30px;
	cursor: default;

}

.page_update{
	padding: 10px;
	line-height: 30px;
	

}

#book :not(input[type="text"]){
	cursor: default;
}

#book input[type="text"]{
	background: transparent;
}


