*{
	margin: 0;
    padding: 0;
	font-family: 微軟正黑體;
}

#unauth{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: transparent;
	_zoom:1;
}

#unauth{
	overflow: hidden;
}

.unauth{
	display:none;
}

#bug{
	position: absolute;
	bottom: 10%;
	right:
	height: 35%;
	width: 14%;
	
	background: url('../img/bug.png')  no-repeat;
	background-size: contain;
	background-position: center center;
	
	-webkit-filter: drop-shadow(3px 3px 2px #222);
    filter:         drop-shadow(3px 3px 2px #222); 
}

#cover{
	position: relative;
	margin: 0 0 0 50%;
	width: 50%;
	min-width: 50%;
	background: url(../img/BookCover2.png) no-repeat;
	background-size: contain;
	background-position: center center;
	text-align: center;
	
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 
}

#cover_lock{
	position: relative;
	
	width: 45%;
	height: 45%;
	margin: auto;
	background: url(../img/lock.png) no-repeat;
	background-size: contain;
	background-position: center center;
	//top: 33%;
}	

#dialog_login{
	position: absolute;
	top: 0;
	width: 300px;
	left : 10%;
	top: auto;
	bottom: 30%;
	
	background: rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 23px;
}

#dialog_login input{
	font-size: 20px;
	border-radius: 10px;
	padding: 0 7px;
	margin: 4px 0;
	text-align: center;
}

#dialog_login .checkBox{
	font-size: 14px;
	line-height: 14px;
}

#dialog_login input:focus{
	background: #AFFEFF;
}

::-webkit-input-placeholder{
	color: #3799FF;
	font-weight: bold;
	text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
	color: #3799FF;
	font-weight: bold;
	text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #3799FF;
	font-weight: bold; 
	text-align: center;
}

:-ms-input-placeholder {  
	color: #3799FF;
	font-weight: bold;
	text-align: center;	
}

#dialog_login input{
	font-size: 20px;
	border-radius: 10px;
	padding: 0 7px;
	margin: 4px 0;
}

#dialog_login input[name=gender]{
	margin: 0px 5px;
}

#dialog_login:not(span){
	line-height: 30px;
	margin: 0 auto;
	padding: 20px;
}

#dialog_login span{
	line-height: 40px;
	margin: 0 10px;
	cursor: pointer;
	padding: 5px 8px;
	border-radius: 8px;
}

#dialog_login .info_register{
	display: none;
}

#dialog_login .hint{
	font-size: 14px;
}

#hint{
	color: pink;
}