*{
	margin: 0;
	padding: 0;
	font-family:\5FAE\8EDF\6B63\9ED1\9AD4;
}
body{
	position: absolute;
	background: url(../img/background_.png);
	width:1024px;
	height:768px;
	background-size: cover;
	background-repeat: no-repeat;  
	overflow: hidden;

}

.menu{  
	position: absolute; 	
	height: 160px;
	width: 150px;	
	background-size: cover;	
}

#menu_introduction{
	left:720px;
	background: url(../img/button_upper_intro.png) no-repeat;
	background-size: cover;	
}
#menu_introduction:hover{
	background-position: 0% 97%;
}
#menu_aboutus{
	left:870px;  
	background: url(../img/button_upper_about.png) no-repeat;
	background-size: cover;	
}
#menu_aboutus:hover{
	background-position: 0% 97%;
}

#word{
    position: absolute; 
    top:90px;
    left:200px;   
    background: url(../img/word.png) no-repeat;
    height: 250px;
	width: 900px;	
    background-size: contain;	
}
#Button_login{
	position: absolute; 
	top:350px;
	left:380px; 
	height: 120px;
	width: 265px;	
	background: url(../img/button_login.png) ;  
	background-size: cover;	
}
#Button_login:hover { 
	background-position: 0% 122px;	  
}
#Button_register{
	position: absolute; 
	top:480px;
	left:385px; 
	height:120px;
	width: 265px;	
	background: url(../img/button_register.png) ;  
	background-size: cover;	
}
#Button_register:hover { 
 background-position: 0% 123px;	  
}
#acc{
	margin-top: 85px;
	width:330px;
	height:80px;
}

#pwd{
	margin-top:5px;
	margin-bottom: 20px;
	width:330px;
	height:80px;
}

#rem{
	height: 20px;
	width: 20px;
	font-size: 30px;	
}

#login{	
	background: url(../img/login_button2.png) no-repeat;
	background-size: cover;
	margin: 20px 0 0 230px;
	width: 150px;
	height: 80px;
}
#login:hover { 
 background-position: 0% 100%;;	  
}
#dialog_login{	
	background: url(../img/login_big_box_background.png) no-repeat;
	background-size: cover;
    width:600px;
	height:446px;
	text-align: center;
	color:black;
	font-weight: bold;
	font-size: 23px;
}

#dialog_login input{
	
	font-size: 30px;
	background: url(../img/input_box.png) no-repeat;	
	background-size: cover;	
	
	padding: 0 4px;	
	text-align: center;
	border: 0px solid;
}

#dialog_login .checkBox{
	font-size: 32px;
	line-height: 14px;
	color: #303030;
}

#dialog_login input:focus{
	background-position: 0% 110%;	
	outline:0;
}
#dialog_login span{
	line-height: 40px;
	margin: 0 10px;
	cursor: pointer;
	padding: 5px 8px;
	border-radius: 8px;
}
.info_register #acc,.info_register #pwd{
	width:300px;
	height:35px;
}
#check_pwd{
	width:300px;
	height:35px;
}
#first_name,#last_name{
	height:34px;
}
#mail{
	height:35px;
	width:367px;
}
.loginButton radio{
	
}
#dialog_register{
	
	width: 500px;	
	height:650px;
	background: url(../img/register_big_box_background.png) no-repeat;
	background-size: cover;	
	text-align: center;
	color: #335a99;;
	font-weight: bold;
	font-size: 23px;
}
#dialog_register input{
	margin-left:20px;
	font-size: 25px;
	background: url(../img/input_box.png) no-repeat;	
	background-size: 100% 100;	
	padding: 0 4px;	
	text-align: center;
	border: 0px solid;
}
#dialog_register input:focus{
	background-position: 0% 100%;	
	outline:0;
}

#register{	
	background: url(../img/register_box.png) no-repeat;
	background-size: cover;
	margin: 0px 0 0 110px;
	width: 110px;
	height: 65px;		
	float:left;
}
#register:hover { 
 background-position: 0 73%;;	  
}
#register_reset{	
	background: url(../img/clear_box.png) no-repeat;
	background-size: cover;
	margin: 15px 0 0 300px;
	width: 110px;
	height: 65px;
	
}
#register_reset:hover { 
 background-position: 0% 73%;;	  
}
#login_back{	
	background: url(../img/back_box.png) no-repeat;
	background-size: cover;
	margin: 10px 0 0 140px;
	width: 250px;
	height: 89px;
}
#login_back:hover { 
 background-position: 0% 80%;;	  
}
input::-webkit-input-placeholder{
	color: #335a99;
	font-weight: bold;
	text-align: center;
}
input:focus::-webkit-input-placeholder{
	color: white;
	font-weight: bold;
	text-align: center;
}
input:-moz-placeholder { /* Firefox 18- */
	color: #335a99;
	font-weight: bold;
	text-align: center;
}
input:focus:-moz-placeholder { /* Firefox 18- */
	color: white;
	font-weight: bold;
	text-align: center;
}
input::-moz-placeholder {  /* Firefox 19+ */
	color: #335a99;
	font-weight: bold; 
	text-align: center;
}
input:focus::-moz-placeholder {  /* Firefox 19+ */
	color: white;
	font-weight: bold; 
	text-align: center;
}
input:-ms-input-placeholder {  /* Internet Explorer 10 */
	color: #335a99;
	font-weight: bold;
	text-align: center;	
}
input:focus:-ms-input-placeholder {  
	color: white;
	font-weight: bold;
	text-align: center;	
}