.page_left{
	position: absolute;
	left: 0;
	//background: url(../img/paper1.jpg) 0 0;
	background:#e8f0fb;
	box-shadow: inset -1px -1px 6px -1px #5A8397;
	
}

.page_right{
	position: absolute;
	right: 0;	
	top:0;
	//background: url(../img/paper1.jpg) 0 0;
	background:#e8f0fb;
	box-shadow: inset 1px -1px 6px -1px #5A8397;
}

.page_right, .page_left{
	text-align:center;
	padding-top:35%;
	height: 45%;
	width: 50%;
 
}
.page_top{
	position:absolute;
	margin:5% 5% 0 5%;
	  
	background-color:#fed966;
	height:40%;
	width:90%;
	text-align: center;
}
.page_timer{
	text-align:center;
	margin:1% 0;
}
.page_gameContent{
	background-color:white;
	height:30%;
	margin:1% 5%;
	padding:3% 0%;
	border:2px solid; 
	font-size: 40px;
}
.page_title{
	font-size: 30px;
	cursor: default; 
}
.page_diary{
	font-size: 30px;
	cursor: default; 
	margin-bottom:3%;
}
.page_progress{
	margin-top:10%;
	margin-bottom:5%;
	padding: 10px;
	line-height: 30px;	
	font-size: 50px;
}

.page_diaryContent{ 
	padding:5px;
}
.typein
{
   font-size:25px;
   font-weight:bold;
   color:#FFFFFF;
   width:80px;
   height:50px;
   background-color:#2f5596;
}
p #create_deadline{
  font-size:20px;
  //color:red;
}
h2{
   font: bold 1.4em 'Lucida sans', 'Trebuchet MS', Tahoma, Arial;
   color: #555;
}

#page_create input{
	display:inline;
	margin-right:15px;
	height:25px;
	border-width:0px;
	background: #D0DDE9;
	color: black;
}

.create_left{
	position: absolute;
	left: 0;
	//background: url(http://merry.ee.ncku.edu.tw/~htckenny/PlanIt/img/paper1.jpg) 0 0;
	background:#e8f0fb;
	box-shadow: inset -1px -1px 6px -1px #5A8397;
	
}

.create_right{ 
	position: absolute;
	right: 0;	
	top:0;
	background:#e8f0fb;
	box-shadow: inset 1px -1px 6px -1px #5A8397;
}

.create_right, .create_left{
	text-align:center;
	padding-top:0%;
	height: 100%;
	width: 50%;
 
}
.create_title{  
	position:absolute;
	top:10px;
	left:5px;
	font-size: 30px;
	padding:10px;
	cursor: default; 
}
.create_name{
	position:absolute;
	top:80px;
	left:30px;
	text-align:center;
	font-size:25px;
}
.create_name_text{
	position:absolute;
	top:120px;
	width:313px;
	left:30px;
	height:25px;
	border-width:0px;
	background: #D0DDE9;
}

.create_target{
	position:absolute;
	top:160px;
	left:30px;
	font-size: 25px;    
}
.create_flow{
	position:absolute;
	top:200px;
	left:30px;
	font-size: 20px; 
}
.create_flow li{  
	display:inline;
	margin-right:55px;
	
}
.create_deadline{
	position:absolute;
	top:280px;
	left:30px;
	font-size:25px;
	font-weight:normal;
}

.create_picture{
	background: url(../img/goals.png);
	width:	294px;
	height:	180px;
	position:absolute;
	top:20px;
	left:40px;
	padding:10px;
}
.create_diary{
	position:absolute;
	top:250px;
	left:110px;	
	font-size:	30px;
	
}
.create_diaryContent{ 
	padding:5px;
	position:absolute;
	top:280px;
}
.create_botton{
  margin-top:5%;
}
.create_bug{
	position: absolute;
	bottom: 0;
	left: 13%;
	height: 150px;
	width: 100px;
}
.value{
	position:absolute;
	top:230px;
	left:30px;
}

.value input{
	display:inline;
	width:90px;
	margin-right:13px;
	height:25px;
	border-width:0px;
	background: #D0DDE9;
}

#create_deadline{
	width:6.25em;
	background: #D0DDE9;
}

#create_deadtime{
	width:6.25em;
	background: #D0DDE9;
}

#line input[type="text"]{
	background-color: transparent;
	font-size:18px;
	border-bottom:1px solid #000000; 
	border-top:0px;
	border-left:0px;
	border-right:0px;
	width:60%;
	height:30px;
	text-align:center;  
}

    
.delete:before
{
  content: "\2718";        
}    
.save:before
{
  content: "\2714";        
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#book input:focus{
	outline:none;	
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/****** FIRST CREATE THE BUBBLE *****/
p.thought {
position:relative; /*see the support section below for more info*/
top:320px;
left:140px;
width:110px; /*size of the bubble*/
padding:10px 20px;
margin:10px 10px 80px 40px;
/**give the bubble's background a gradient**/
background:#F8CD31; /*fallback colour for non-supporting browsers*/
/**give the corners a large curve**/
-webkit-border-radius:180px;
-moz-border-radius:180px;
border-radius:180px;
/**add a drop shadow to the bubble**/

/**style the text**/
color:#575544;
font-size:1em;
letter-spacing:.06em;
}

/******NOW CREATE THE THOUGHT CIRCLES*****/
/****FIRST THE LARGE CIRCLE***/
p.thought:before {
content:"";
position:absolute; /*see the support section below for more info*/
bottom:-40px; /*distance from the bottom of the bubble*/
left:20px; /*distance from the left edge of the bubble*/
background:#F8CD31;
width:30px; /*same as the height*/
height:30px; /*same as the width*/
/*add a curve to the corners the same size as the height and width*/
-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px;
/*add a drop shadow*/

}
/*****NOW THE SMALL CIRCLE***/
/**Created exactly the same way as the large circle, except with smaller width, height and border-radius**/
p.thought:after {
content:"";
position:absolute;
bottom:-55px;
left:0;
width:15px;
height:15px;
background:#F8CD31;
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;

}