/*** PAGE LEFT***/
.page_title{
	position:absolute;
	top:10px;
	margin-top: 30px;
	padding-left: 20px;
	font-size: 30px;
	cursor: default; 
}

.page_progress{
	margin: 5% 10%;
	width: 80%;
	text-align:center;
	position:absolute;
	top:110px;
	left:0;
	padding: 10px;
	line-height: 30px;	
	font-size: 20px;
}

.page_progressTitle{
	position:absolute;
	top:50px;
	left:40px;
	font-size:30px;
	
}

#page_now{
	position:relative;
	width:60px;
	height:23px;
	top:-8px;
	font-size:20px;
	border-width:0px;
	background: #D0DDE9;
	color: black;
	text-align:center;
}

/*** PAGE RIGHT***/
.page_diary{
	position:relative;
	top:200px;
	left:40px;
	font-size: 30px;
	cursor: default; 
	
}

.page_diaryContent{
	position:relative;
	top:210px;
	width: 80%;
	height: 30%;
	margin: 0 10%;
	border-width:0px;
	background: #D0DDE9;
	padding:5px;
	resize: none;
}

/*** PAGE TOP***/
.page_top{
	position:absolute;
	margin:5% 5% 0 5%;
	  
	background-color:#fed966;
	height:37%;
	width:90%;
	text-align: center;
}

.page_timer{
	position:absolute;
	top:120px;
	left:40px;
	z-index:+1;
	text-align:center;
	margin:1% 0;
}

.page_gameContent{
	position:absolute;
	top:100px;
	background: url(../img/game_background.png) 60% 100%;
	height:350px;
	margin:1% 5%;
	padding:3% 0%;
	font-size: 40px;
}

.page_gameContent img{
	width:25%;
	position:relative;
	top:160px;
	left:55px;
}

.page_bean{
	position:absolute;
	width:340px;
	height:50px;
	top:410px;
	left:27px;
	background: url(../img/bean.png);
}

.page_status{
	position:absolute;
	top:430px;
	left:30px;
}
