*{
	margin: 0;
	padding: 0;
	font-family:\5FAE\8EDF\6B63\9ED1\9AD4;
}

body{
	height: 100%;
	width: 100%;
	overflow: auto;
	min-width: 640px;
	min-height: 480px;
}

/*------MENU------*/
header{
	z-index: 100;

	position: fixed;
	width: 100%;
	height: 80px;
}

.menu_item{
	float: right; 	
	height: 80px;
	width: 75px;	
}

#menu_friend{
	float:left;
	height:77px;
	width: 100px;
	background: url(../img/friend/button_upper_friend.png) no-repeat bottom;
	background-size: cover;
}

#menu_friend:hover{
	background-position: 0% 0%;
}
#menu_introduction{
	background: url(../img/button_upper_intro.png) no-repeat;
	background-size: cover;
}

#menu_introduction:hover{
	background-position: 0% 97%;
}

#menu_aboutus{
	background: url(../img/button_upper_about.png) no-repeat;
	background-size: cover;
}

#menu_aboutus:hover{
	background-position: 0% 97%;
}