#id_card {
	position: absolute;
	top: -3px;
	left: -3px;
	width: 369px;
	height: 416px;
	background: url(../img/info/id_card.png);
	background-size: 100% 100%;
	//z-index: 1;
}

#paper_clip {
	position: absolute;
	top: -64px;
	left: 10px;
	width: 61px;
	height: 126px;
	background: url(../img/info/paper_clip.png);
	background-size: cover;
	//z-index: 2;
}

#label_undone {
	position: absolute;
	top: 20px;
	left: 50px;
}

#label_done{
	position: absolute;
	top: 177px;
	left: 50px;
}

#label_expired {
	position: absolute;
	top: 330px;
	left: 50px;
}

#id_card_img {
	position: absolute;
	top: 52px;
	left: 50px;
	height:140px;
	width:137px;
	background:url(../img/info/thumbnail_male.png);
	background-size:cover;
}
.ex_plan{
	color: #3c396c;
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight:bold;
	margin-top:10px;
	margin-left:40px;
}

.ex_plan li{
	margin:5px;
}

.ex_plan li:hover{
	color:#5694ff;
}
.IDCard_content {
	-webkit-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
	-moz-transform: rotate(-5deg);
	font-family: 微軟正黑體;
	font-weight: bolder;
	font-size: 18;
	margin: 2px;
}
#info_name{
	position:absolute;
	top: 45px;
	left: 191px;
}
#info_id{
	position:absolute;
	top: 77px;
	left: 195px;
}
#info_gender{
	position:absolute;
	top: 111px;
	left: 194px;
}
#plan_count{
	position:absolute;
	top: 141px;
	left: 197px;
}
#info_mail{
	position:absolute;
	top: 240px;
	left: 55px;
}