*{
	margin: 0;
    padding: 0;
	font-family: 微軟正黑體;
}

aside{
	//display: none;
	position: fixed;
	z-index: 1000;
    right: 30px;
	
	border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
	margin: 0;
}


aside #aside_switch{
    position: absolute;
	top:42px;
	left:51px;
    height: 62px;
    width: 80px;
	z-index: 950;
	border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
	
	cursor: pointer;
}

aside #aside_arrow{
	position:absolute;
	background:url(../img/aside/arrow.png) no-repeat;
	background-size:contain;
	width:66px;
	height:80px;
	left:58px;
	top:-51px;
	animation:arrow_flash 1s infinite;
	-webkit-animation:arrow_flash 1s infinite; /* Safari and Chrome */
}

@keyframes arrow_flash
{
0%   {background: url(../img/aside/arrow.png) no-repeat;}
50%   {background: no-repeat;}
100% {background: url(../img/aside/arrow.png) no-repeat;}
}

@-webkit-keyframes arrow_flash /* Safari and Chrome */
{
0%   {background: url(../img/aside/arrow.png) no-repeat;}
50%   {background: no-repeat;}
100% {background: url(../img/aside/arrow.png) no-repeat;}
}

aside #aside_bug{
	position:absolute;
	background:url(../img/aside/personal_bug.png) no-repeat;
	background-size:contain;
	width:184px;
	height: 140px;
	top:33px;
	left:-52px;
	z-index:+500;
}

aside #aside_contents{
	float: left;
	top:131px;
    height: 487px;
    width: 186px;
	
	position: relative;

    background: url(../img/aside/stone.png) no-repeat;
	z-index:400;
    background-size: contain;

}

aside #aside_contents #list_plans{
	list-style-type: none;
    
    margin: 10px 5px 0px 22px;
	
	position: relative;
	overflow-y:scroll;
	overflow-x:hidden;	
	top:41px;
	left:-4px;
	height:262px;
	width:195px;
	-webkit-transform: matrix(1, 0.15, 0, 1, 0, 0);
         -o-transform: matrix(1, 0.15, 0, 1, 0, 0);
            transform: matrix(1, 0.15, 0, 1, 0, 0);
}

aside #aside_contents #list_plans:not(li){
	line-height: 60px;
    text-align:  center;
    font-size: 14px;
	-webkit-transform: matrix(1, 0.1, 0, 1, 0, 0);
         -o-transform: matrix(1, 0.1, 0, 1, 0, 0);
            transform: matrix(1, 0.1, 0, 1, 0, 0);
}

aside #aside_contents #list_plans li{
	text-align: left;
	line-height: 20px;
    font-family: Buxton Sketch;
    font-size: 20px;
    
    color: brown;
    font-family: 微軟正黑體;
    padding: 10px 10px 10px 15px;
    //border-top: 1px dotted purple;
}

aside #new_plan:active{
	background-image: url(../img/aside/add_trigger.png);
}

aside #new_plan{
	position: absolute;
	top:458px;
	left:51px;
	height:59px;
	width:65px;
	z-index:500;
	text-align: center;
	line-height: 22px;
	background-image: url(../img/aside/add_trigger.png);
    background-image: url(../img/aside/add.png);
	background-repeat:no-repeat;
	background-size:contain;
    font-size: 22px;
	
	margin: 27px 0px 27px 0px;
    
	cursor:pointer;
    color: brown;
	font-weight: bold;
	
}

#auth{
	overflow: hidden;
	display:none;
}

.auth{
	display:none;
}

#book{
	position: fixed; 
	left: 2rem;
	top: 4rem;	
	
}

#book-base{
	position:fixed;
	background:url(../img/book.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 	
}

#bug{
	position: absolute;
	bottom: 0;
	left: 25%;
	height: 220px;
	width: 150px;
	-webkit-filter: drop-shadow(3px 3px 2px #222);
    filter:         drop-shadow(3px 3px 2px #222); 
}

#content{
	height: 100%;
	width: 100%;
	
	background: white;
}

#mask{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	background: transparent;
	z-index: 10000;
	display:none;
	
	text-align: center;
}

#loading{
	position: relative;
}

/* ^^^^^^^^ BELOW IS THE CODE FOR THE MENU ^^^^^^^^^^ */
.menu{
	position: fixed;
	z-index: 1000;
	width: 100%;
}
/* ^^^^^^^^ ABOVE IS THE CODE FOR THE MENU ^^^^^^^^^^ */

#hint{
	color: pink;
}

html { font-size:100% } 

/*Scrollbar*/

#list_plans::-webkit-scrollbar {
      width: 60px;
}
#list_plans::-webkit-scrollbar-track {
      display:none;
} 
#list_plans::-webkit-scrollbar-thumb {
      background: url(../img/aside/scroll.png) no-repeat;
	  background-size: contain;
	  cursor:pointer;
	  background-position: 0 0;
}
#list_plans::-webkit-scrollbar-button {
      display:none;
}
#list_plans::-webkit-scrollbar-corner {
      display:none;
}