
.newTask{
	border: none;
	width: 270px;
	height: 48px;
	background: url('../img/task/txt_newTask.png');
	background-size: cover;
	background-position: 0 0;
	padding: 0 10px;
	display: inline-block;
	margin: 0 0 20px 20px;
	font-size: 25px;
	color: black;
}

.addNewTask{
	background: url('../img/task/btn_addNewTask.png');
	background-size: cover;
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 12px;
	right: 15px;
}

.task_list{
	width: 100%;
	height: 300px;
	overflow-y: scroll;
}

.addNewTask:hover{
	background-position: 0 40px;
}

.task_item{
	display: block;
	width: 80%;
	height: 70px;
	margin: 0 0 10px 20px;
}

.task_item .checkbox{
	display: none;
}

.task_item .checkbox + span{
	margin: 15px 13px;
	display: inline-block;
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

.task_item .checkbox:checked + span{
	background: url('../img/task/done.png');
	background-size: 100% 100%;
}

.task_item .task_content{
	display: inline-block;
	font-size: 18px;
}

.task_item:nth-child(odd){
	background: url('../img/task/task_item_1.png');
	background-size: 100% 100%;
}

.task_item:nth-child(even){
	background: url('../img/task/task_item_2.png');
	background-size: 100% 100%;
}

.task_list::-webkit-scrollbar {
    margin-left:20px;  
    width: 25px;
}

.task_list::-webkit-scrollbar-track {
    display:none;
} 

.task_list::-webkit-scrollbar-thumb:vertical{ 
	background: white;
	border: #6A8ABF 5px solid;
	border-radius: 10px;
	cursor:pointer;	
}

.task_list::-webkit-scrollbar-button {
    display:none;
}

.task_list::-webkit-scrollbar-corner {
    display:none;
}