.create_title{  
	font-size: 30px;
	padding:10px;
	cursor: default; 
	font: bold 1.4em;
	color: #555;
	font-size: 40px;
	text-align: center;
}

.create_profile_pic{
	width: 100px;
	height: 100px;
	margin: 15px;
	background: url(../img/create/picture_boy.png);
	background-size: 100% 100%;
	
	display: inline-block;
}

#create_name{
	display: inline-block;
	position: relative;
	top: -60px;
	
	height: 60px;
	width: 200px;
	padding: 5px 5px 5px 15px;
	background: url('../img/create/plan_name.png');
	font-size: 23px;
	background-size: 100% 100%;
}

.create_goal_text, .create_deadline_text{
	font-size: 25px;  
	font-weight: bold;
	margin: 10px;
}

.create_goal, .create_deadline{
	margin: 0 auto 20px auto;
	text-align:center;
}

.create_goal input{
	display:inline;
	width:90px;
	height:40px;
	margin: 0 10px;
	font-size: 25px;
}

.create_deadline input{
	display:inline;
	text-align: center;

	margin: 0 20px;
	font-size: 25px;
}

#create_deadDate{
	height: 40px;
	width: 160px;
}

#create_deadTime{
	height: 40px;
	width: 120px;
}
    
.delete:before
{
  content: "\2718";        
}    
.save:before
{
  content: "\2714";        
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/****** FIRST CREATE THE BUBBLE *****/
p.thought {
	position:relative; /*see the support section below for more info*/
	top:320px;
	left:140px;
	width:110px; /*size of the bubble*/
	padding:10px 20px;
	margin:10px 10px 80px 40px;
	/**give the bubble's background a gradient**/
	background:#F8CD31; /*fallback colour for non-supporting browsers*/
	/**give the corners a large curve**/
	-webkit-border-radius:180px;
	-moz-border-radius:180px;
	border-radius:180px;
	/**add a drop shadow to the bubble**/

	/**style the text**/
	color:#575544;
	font-size:1em;
	letter-spacing:.06em;
}

/******NOW CREATE THE THOUGHT CIRCLES*****/
/****FIRST THE LARGE CIRCLE***/
p.thought:before {
	content:"";
	position:absolute; /*see the support section below for more info*/
	bottom:-40px; /*distance from the bottom of the bubble*/
	left:20px; /*distance from the left edge of the bubble*/
	background:#F8CD31;
	width:30px; /*same as the height*/
	height:30px; /*same as the width*/
	/*add a curve to the corners the same size as the height and width*/
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	/*add a drop shadow*/
}

/*****NOW THE SMALL CIRCLE***/
/**Created exactly the same way as the large circle, except with smaller width, height and border-radius**/
p.thought:after {
	content:"";
	position:absolute;
	bottom:-55px;
	left:0;
	width:15px;
	height:15px;
	background:#F8CD31;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}

/*** RIGHT PAGE ***/

.ui.checkbox {
	display: block;
}

.delete_text {
	text-decoration: line-through;
}

#create_task{
	padding:10px;
	height: 370px;
}

#create_newTask{
	border: none;
	width: 270px;
	height: 48px;
	background: url('../img/create/txt_newTask.png');
	background-size: cover;
	background-position: 0 0;
	padding: 0 10px;
	display: inline-block;
	margin: 0 0 20px 20px;
	font-size: 25px;
	color: black;
}

#create_addNewTask{
	background: url('../img/create/btn_addNewTask.png');
	background-size: cover;
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 12px;
	right: 15px;
}

#create_task_list{
	width: 100%;
	height: 300px;
	overflow-y: scroll;
}

#create_addNewTask:hover{
	background-position: 0 40px;
}

.create_task_item{
	position: relative;
	display: block;
	width: 85%;
	height: 70px;
	margin: 10px 0 0 20px;
	cursor: pointer;
}

.create_task_item .checkbox{
	display: none;
}

.create_task_item .checkbox + span{
	margin: 15px 13px;
	display: inline-block;
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

.create_task_item .checkbox:checked + span{
	background: url('../img/create/done.png');
	background-size: 100% 100%;
}

.create_task_item .create_task_content{
	display: inline-block;
	font-size: 18px;
}

.create_task_item:nth-child(odd){
	background: url('../img/create/task_item_1.png');
	background-size: 100% 100%;
}

.create_task_item:nth-child(even){
	background: url('../img/create/task_item_2.png');
	background-size: 100% 100%;
}

#create_task_list::-webkit-scrollbar {
    margin-left:20px;  
    width: 25px;
}

#create_task_list::-webkit-scrollbar-track {
    display:none;
} 

#create_task_list::-webkit-scrollbar-thumb:vertical{ 
	background: white;
	border: #6A8ABF 5px solid;
	border-radius: 10px;
	cursor:pointer;	
}

#create_task_list::-webkit-scrollbar-button {
    display:none;
}

#create_task_list::-webkit-scrollbar-corner {
    display:none;
}

.create_task_delete{
	width: 25px;
	height: 25px;
	background: url('../img/create/delete.png');
	background-size: 100% 100%;

	display: block;
	position: absolute;
	top: -5px;
	right: -5px;
	cursor: pointer;
}
