.create_title{  
	font-size: 30px;
	padding:10px;
	cursor: default; 
	font: bold 1.4em;
	color: #555;
	font-size: 40px;
	text-align: center;
}

.create_profile_pic{
	width: 100px;
	height: 100px;
	margin: 15px;
	background: url(../img/create/picture_boy.png);
	background-size: 100% 100%;
	
	display: inline-block;
}

#create_name{
	display: inline-block;
	position: relative;
	top: -60px;
	
	height: 60px;
	width: 200px;
	padding: 5px 5px 5px 15px;
	background: url('../img/create/plan_name.png');
	font-size: 23px;
	background-size: 100% 100%;
}

.create_goal_text, .create_deadline_text{
	font-size: 25px;  
	font-weight: bold;
	margin: 10px;
}

.create_goal, .create_deadline{
	margin: 0 auto 20px auto;
	text-align:center;
}

.create_goal input{
	display:inline;
	width:90px;
	height:40px;
	margin: 0 10px;
	font-size: 25px;
}

.create_deadline input{
	display:inline;
	text-align: center;

	margin: 0 20px;
	font-size: 25px;
}

#create_deadDate{
	height: 40px;
	width: 160px;
}

#create_deadTime{
	height: 40px;
	width: 120px;
}
    
.delete:before
{
  content: "\2718";        
}    
.save:before
{
  content: "\2714";        
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/****** FIRST CREATE THE BUBBLE *****/
p.thought {
	position:relative; /*see the support section below for more info*/
	top:320px;
	left:140px;
	width:110px; /*size of the bubble*/
	padding:10px 20px;
	margin:10px 10px 80px 40px;
	/**give the bubble's background a gradient**/
	background:#F8CD31; /*fallback colour for non-supporting browsers*/
	/**give the corners a large curve**/
	-webkit-border-radius:180px;
	-moz-border-radius:180px;
	border-radius:180px;
	/**add a drop shadow to the bubble**/

	/**style the text**/
	color:#575544;
	font-size:1em;
	letter-spacing:.06em;
}

/******NOW CREATE THE THOUGHT CIRCLES*****/
/****FIRST THE LARGE CIRCLE***/
p.thought:before {
	content:"";
	position:absolute; /*see the support section below for more info*/
	bottom:-40px; /*distance from the bottom of the bubble*/
	left:20px; /*distance from the left edge of the bubble*/
	background:#F8CD31;
	width:30px; /*same as the height*/
	height:30px; /*same as the width*/
	/*add a curve to the corners the same size as the height and width*/
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	/*add a drop shadow*/
}

/*****NOW THE SMALL CIRCLE***/
/**Created exactly the same way as the large circle, except with smaller width, height and border-radius**/
p.thought:after {
	content:"";
	position:absolute;
	bottom:-55px;
	left:0;
	width:15px;
	height:15px;
	background:#F8CD31;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}

/*** RIGHT PAGE ***/


.create_picture{
	background: url(../img/blackboard.jpg);
	background-size: contain;
	width:	294px;
	height:	170px;
	padding: 10px;
	margin: 20px auto 10px auto;
}

.create_beans{
	background:url(../img/beans2.png);
	background-size: contain;
	position:absolute;
	top:50px;
	left:72px;
	width:260px;
	height:133px;
}

.create_diary{
	text-align: center;
	font-size: 30px;
	margin: 0 auto;
}

.create_go{
	background:url(../img/beans3.png);
	background-size: contain;
	position:absolute;
	top:320px;
	left:275px;
	width:100px;
	height:80px;
}

.create_diaryContent{ 
	margin: 10px 10% 5% 10%;
	padding:5px;
	width: 80%;
	height: 20%;
	resize: none;
}