/*** PAGE LEFT***/
.plan_title{
	position:absolute;
	margin-top: 10px;
	padding-left: 20px;
	font-size: 25px;
	line-height: 25px;
	cursor: default; 
}

/*** Game Content ***/
.plan_gameContent{
	position:absolute;
	top:75px;
	background: url(../img/game/gameBackground.png);
	background-size:contain;
	height:363px;
	width:340px;
	margin:1% 5%;
	padding:3% 0%;
	font-size: 40px;
}

.plan_gameContent.done{
	background: url(../img/game/game_done.png);
	background-size:contain;
}

.plan_gameContent.expired{
	background: url(../img/game/game_expired.png);
	background-size:contain;
}


.plan_gameContent img{
	width:25%;
	position:relative;
	top:160px;
	left:55px;
}

.game_ropeX{
	background: url(../img/game/rope_x.png);
	background-size:contain;
	position:absolute;
	top:129px;
	left:125px;
	height:4.5px;
	width:14px;
}

.game_ropeY{
	background: url(../img/game/rope_y.png) no-repeat;
	background-size:cover;
	position:absolute;
	top:30px;
	left:53px;
	height:100px;
	width:5px;
}

.game_beltSystem{
	background: url(../img/game/beltSystem_1.png) no-repeat;
	background-size:contain;
	position:absolute;
	top:165px;
	left:119px;
	height:150px;
	width:225px;
}

.game_container{
	background: url(../img/game/container.png) no-repeat;
	background-size:contain;
	position:absolute;
	//z-index:+1;
	top:129px;
	left:3px;
	height:99px;
	width:120px;
}

.game_bean{
	background: url(../img/game/bean_1.png) no-repeat;
	background-size:cover;
	position:absolute;
	top:78px;
	left:136px;
	height:87.2px;
	width:74px;
	animation:bean_move 1s infinite;
	-webkit-animation:bean_move 1s infinite; /* Safari and Chrome */
}

@keyframes bean_move
{
0%   {background: url(../img/game/bean_1.png) no-repeat;}
40%   {background: url(../img/game/bean_2.png) no-repeat;
	  top:81px;
	  width:80px;}
70%   {background: url(../img/game/bean_2.png) no-repeat;
	  top:81px;
	  width:80px;}
100% {background: url(../img/game/bean_1.png) no-repeat;}
}

@-webkit-keyframes bean_move /* Safari and Chrome */
{
0%   {background: url(../img/game/bean_1.png) no-repeat;}
40%   {background: url(../img/game/bean_2.png) no-repeat;
	  top:81px;
	  width:80px;}
70%   {background: url(../img/game/bean_2.png) no-repeat;
	  top:81px;
	  width:80px;}
100% {background: url(../img/game/bean_1.png) no-repeat;}
}

.game_bug{
	background: url(../img/game/bugCry_1.png) no-repeat;
	background-size:contain;
	position:absolute;
	top:192px;
	left:21px;
	height:102px;
	width:90px;
	animation:bug_cry 2s infinite;
	-webkit-animation:bug_cry 2s infinite; /* Safari and Chrome */
}

@keyframes bug_cry
{
0%   {background: url(../img/game/bugCry_1.png) no-repeat;}
50%   {background: url(../img/game/bugCry_2.png) no-repeat;}
100% {background: url(../img/game/bugCry_1.png) no-repeat;}
}

@-webkit-keyframes bug_cry /* Safari and Chrome */
{
0%   {background: url(../img/game/bugCry_1.png) no-repeat;}
50%   {background: url(../img/game/bugCry_2.png) no-repeat;}
100% {background: url(../img/game/bugCry_1.png) no-repeat;}
}

.game_bicycle{
	background: url(../img/game/bicycle_1.png) no-repeat;
	background-size:contain;
	position:absolute;
	top:185px;
	left:150px;
	height:200px;
	width:150px;
	animation:ride_bicycle 1s infinite;
	-webkit-animation:ride_bicycle 1s infinite; /* Safari and Chrome */
}

@keyframes ride_bicycle
{
0%   {background: url(../img/game/bicycle_1.png) no-repeat;}
4%   {background: url(../img/game/bicycle_1.png) no-repeat;}
36%   {background: url(../img/game/bicycle_2.png) no-repeat;}
68%   {background: url(../img/game/bicycle_3.png) no-repeat;}
100%   {background: url(../img/game/bicycle_1.png) no-repeat;}
}

@-webkit-keyframes ride_bicycle /* Safari and Chrome */
{
0%   {background: url(../img/game/bicycle_1.png) no-repeat;}
4%   {background: url(../img/game/bicycle_1.png) no-repeat;}
36%   {background: url(../img/game/bicycle_2.png) no-repeat;}
68%   {background: url(../img/game/bicycle_3.png) no-repeat;}
100%   {background: url(../img/game/bicycle_1.png) no-repeat;}
}

.bubble 
{
position: relative;
font-size:15px;
top:-40px;
left:10px;
width: 120px;
height: 50px;
padding: 3px;
background: #FED45E;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
border: #000000 solid 1px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 10px 0;
border-color: #FED45E transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 50px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 10px 0;
border-color: #000000 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -16px;
left: 50px;
}

/*** PAGE RIGHT***/

#plan_now{
	position:relative;
	width:60px;
	height:23px;
	top:0px;
	font-size:20px;
	border-width:0px;
	background: #D0DDE9;
	color: black;
	text-align:center;
}

.plan_time{
	position: absolute;
	width: 370px;
	height: 40px;
	cursor: default;
	top: -80px;
	left: -130px;
	font-size: 21px;
	text-align: center;
	font-weight: bold;
	display: none;
}

.plan_min{
	position: absolute;
	cursor: default;
	top: 345px;
	right: 340px;
	font-size: 21px;
	text-align: right;
	font-weight: bold;
}

.plan_max{
	position: absolute;
	cursor: default;
	top: 105px;
	right: 340px;
	font-size: 21px;
	text-align: right;
	font-weight: bold;
}

.plan_progressnow{
	position: relative;
	cursor: default;
	text-align: center;
	font-weight: bold;
	color: red;
	font-size: 23px;
	margin: 0px auto;
}

.plan_next{
	position:absolute;
	width:40px;
	height:49px;
	top:420px;
	right:20px;
	background: url(../img/plan/btn_nextPage.png);
	background-size: cover;
	background-position: 0 0;
	
	cursor: pointer;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

.plan_next:hover{
	background-position: 0 49px;
}

.plan_prev{
	position:absolute;
	width:40px;
	height:49px;
	top:420px;
	left:20px;
	background: url(../img/plan/btn_prevPage.png);
	background-size: cover;
	background-position: 0 0;
	
	cursor: pointer;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

.plan_prev:hover{
	background-position: 0 49px;
}



/*** RIGHT PAGE ***/

.plan_task{
	position:relative;
	vertical-align: top;
	padding: 2%;
	height: 370px;
	width: 66%;
	margin: 0 0 0 auto;
	display: inline-block;
}

.plan_newTask{
	border: none;
	width: 78%;
	height: 48px;
	background: url('../img/plan/txt_newTask.png');
	background-size: 100% 100%;
	background-position: 0 0;
	padding: 0 10px;
	display: inline-block;
	margin: 0 10px 20px 2px;
	font-size: 20px;
	vertical-align:middle;
	color: black;
}

.plan_addNewTask{
	background: url('../img/plan/btn_addNewTask.png');
	background-size: cover;
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 12px;
	right: 9px;
	
	cursor: pointer;
}

.plan_task_list{
	width: 97%;
	height: 300px;
	overflow-y: scroll;
}

.plan_addNewTask:hover{
	background-position: 0 40px;
}

.plan_task_item{
	position: relative;
	display: block;
	width: 87%;
	height: 70px;
	margin: 10px 0 0 4px;
	cursor: pointer;
}

.plan_task_item .checkbox{
	display: none;
}

.plan_task_item .checkbox + span{
	margin: 19px 9px;
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: middle;
}

.plan_task_item .checkbox:checked + span{
	background: url('../img/plan/done.png');
	background-size: 100% 100%;
}

.plan_task_item .plan_task_content{
	display: inline-block;
	font-size: 18px;
	width: 70%;
	overflow: hidden;
	text-overflow:ellipsis; 
	vertical-align: middle;
}

.plan_task_item:nth-child(odd){
	background: url('../img/plan/task_item_1.png');
	background-size: 100% 100%;
}

.plan_task_item:nth-child(even){
	background: url('../img/plan/task_item_2.png');
	background-size: 100% 100%;
}

.plan_task_list::-webkit-scrollbar {
    margin-left:20px;  
    width: 25px;
}

.plan_task_list::-webkit-scrollbar-track {
    display:none;
} 

.plan_task_list::-webkit-scrollbar-thumb:vertical{ 
	background: white;
	border: #6A8ABF 5px solid;
	border-radius: 10px;
	cursor:pointer;	
}

.plan_task_list::-webkit-scrollbar-button {
    display:none;
}

.plan_task_list::-webkit-scrollbar-corner {
    display:none;
}

.plan_task_delete{
	width: 25px;
	height: 25px;
	background: url('../img/plan/delete.png');
	background-size: 100% 100%;

	display: block;
	position: absolute;
	top: -5px;
	right: -5px;
	cursor: pointer;
}

.plan_clock{
	background: url('../img/plan/clock.png');
	background-size: cover;
	height: 51px;
	width: 50px;
	margin: 5px auto;
	margin-left:33px;
}

.plan_clock.expired{
	background: url('../img/plan/clock_expired.png');
	background-size: cover;
	height: 51px;
	width: 50px;
	margin: 5px auto;
	margin-left:33px;
}

.plan_clock.done{
	background: url('../img/plan/clock_done.png');
	background-size: cover;
	height: 51px;
	width: 50px;
	margin: 5px auto;
	margin-left:33px;
}

.plan_clock:hover{
	background-position: 0 50px;
}

.plan_progress{
	vertical-align: top;
	margin: 0 auto;
	width: 30%;
	display: inline-block;
}

.plan_progressbar{
	-webkit-appearance: none;
	margin: 0 auto;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	background: transparent;
	height: 10px;
	width: 310px;
	position: absolute;
	bottom: 240px;
	left: -98px;
}

.plan_progressbar::-webkit-slider-thumb{
	-webkit-appearance: none;
	-webkit-transform:rotate(90deg);       
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
	//background: url('../img/plan/bar_leaf.png');
	background: transparent;
	width: 72px;
	height: 28px; 
	background-size: 100% 100%;
	cursor: pointer;
}

.plan_progressleaf{
	background: url('../img/plan/bar_leaf.png');
	width: 72px;
	height: 28px; 
	background-size: 100% 100%;
	cursor: pointer;
	margin: 0 auto;
	position: relative;
	bottom: -250;
}


.plan_progressscale{
	margin: 0 auto;
	width: 40px;
	height: 245px;
	background: url('../img/plan/bar_scale.png');
	background-size: 100% 100%;
	position: absolute;
	bottom: 120px;
	left: 39px;
}

.plan_progressstem{
	margin: 0 auto;
	width: 17px;
	height: 245px;
	background: url('../img/plan/bar_stem.png');
	background-size: 100% 100%;
	position: absolute;
	bottom: 114px;
	left: 50px;
}

.plan_progressbean{
	margin: 0 auto;
	width: 110px;
	height: 95px;
	background: url('../img/plan/bar_bean.png');
	background-size: 100% 100%;
	position: absolute;
	bottom: 22px;
	left: 5px;
}

.plan_memo_bg{
	width: 100%;
	height: 420px;
	border: none;
	margin: 0 auto;
	display: block;
	background: url('../img/plan/memo.png');
	background-size: 100% 100%;
	position: absolute;
}

.plan_memo{
	margin: 80px 34px 50px 34px;
	background: transparent;
	display: block;
	resize: none;
	font-size: 17px;
	overflow-y: scroll;
	border: none;
	width: 80%;
	height: 310px;
}

.plan_memo::-webkit-scrollbar {
      width: 10px;
}
.plan_memo::-webkit-scrollbar-track {
      display:none;
} 
.plan_memo::-webkit-scrollbar-thumb {
      background: f0e030;
	  cursor:pointer;
	  background-position: 0 0;
}
.plan_memo::-webkit-scrollbar-button {
      display:none;
}
.plan_memo::-webkit-scrollbar-corner {
      display:none;
}

.comment_content{
	margin: 15px 0 0 10px;
}

.comment_content::-webkit-scrollbar {
    width: 25px;
}

.comment_content::-webkit-scrollbar-track {
    display:none;
} 

.comment_content::-webkit-scrollbar-thumb:vertical{ 
	background: white;
	border: #6A8ABF 3px solid;
	border-radius: 10px;
	cursor:pointer;	
}

.comment_content::-webkit-scrollbar-button {
    display:none;
}

.comment_content::-webkit-scrollbar-corner {
    display:none;
}

.add_comment{
	height: 70px;
	width: 70px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

.add_comment.boy{
	background: url('../img/plan/picture_boy.png');
	background-size: 100% 100%;
}

.add_comment.girl{
	background: url('../img/plan/picture_girl.png');
	background-size: 100% 100%;
}

.comment_talk{
	background: url('../img/plan/say.png');
	background-size: 100% 100%;
	width: 22px;
	height: 26px;
	display: inline-block;
	position: absolute;
	top: 7px;
	right: 74px;
}