/*----------Friends------------*/
*{
	margin: 0;
	padding: 0;
	font-family:\5FAE\8EDF\6B63\9ED1\9AD4;
}

#dialog_friend{
	background: url(../img/friend/friend_background.png) no-repeat;
	background-size: 100% 100%;	
	width:510px;
	height:600px;
	text-align: center;
	margin-left: -250px;
	border: none;
}

#btn_dialog_friend_close{
	background: url(../img/friend/btn_dialog_friend_close.png) no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 40px;
	right: 40px;
	cursor: pointer;
}

#btn_dialog_friend_close:hover{
	background-position: 80px;
	background-position: 0  -44px;
}

#btn_dialog_friend_prev{
	background: url(../img/friend/btn_dialog_friend_prev.png) no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 40px;
	left: 40px;
	cursor: pointer;
	display: none;
}

#btn_dialog_friend_prev:hover{
	background-position: 80px;
	background-position: 0  -40px;
}


#friend_search{
	margin-top:7px;
	margin-left:7px;
	border: 0px solid; 
	background-color:white;
	width:166px;
	height:40px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align:center;
	font-size:24px;
	padding: 0 1px;
}

#friend_search:focus{
	outline:0;
	border: 0px solid;
}

#friend_search_background{	
	text-align: left;
	display: inline-block;
	background: url(../img/friend/friend_search.png) no-repeat;
	background-size: cover;  
	margin-top:35px;
	width:234px;
	height:55px;
	border: 0px solid; 
	cursor: pointer;
}
#friend_search_background:hover{
	background-position: 0% -59px;
	border: 0px solid;
}
#friend_search_background:focus{
	outline:0;
    border: 0px solid;
}

#friend_count{
	margin-top: 22px;
}

#friend_text{
	font-size:24px;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 10px;
	//display:inline-block;
}
#friend_number{
	font-size:20px;
	font-weight: bold;
	margin-top: 5px;
}
#friend_list{
	display: in-line;
	padding: 10px 25px 0 25px;
	margin-right: 20px;
	height: 420px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.friend_block{
  	background: url(../img/friend/friend_block.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 10px;
	margin-left:9px;
	height:140px; 
	width: 97%;
	list-style-type:none;
	padding: 0 10px;
	text-align: left;
	display: none;
}
.profile_pic{   
   	//background: url(../img/friend/profileBoy.png) no-repeat;
	background-size: 100% 100%;
	width:80px;
	height:80px;
	margin-left: 10px;
	position: relative;
	top: -10px;
}
.profile_id{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: -5px;
}

.profile_name{
	margin-left: 10px;
	font-size:22px;
  	font-weight: bold;
	width: 100px;
}

.friend_ask{
	position:relative;
  	font-size: 24px;
  	font-weight: bold;
	top:-75px;
	left:150px;
	display: inline-block;
}

.btn_friendConfirm{
	position:relative;
  	background: url(../img/friend/btn_friendConfirm.png) no-repeat;
	top:-60px;
	left:145px;
	background-size:cover;
	width:83px;
	height:42px;
	cursor: pointer;
}

.btn_friendConfirm:hover{
  	background-position: 0% 102%;
}

.btn_friendRefuse{
	position:relative;
  	background: url(../img/friend/btn_friendRefuse.png) no-repeat;
	top:-102px;
	left:245px;
	background-size:cover;
	width:83px;
	height:42px;
	cursor: pointer;
	display:inline-block;
}
.btn_friendRefuse:hover{
  	background-position: 0% 102%;
}

.friend_recentUpdate{
	position:relative;
  	font-size: 18px;
  	font-weight: bolder;
	top:-90px;
	left:100px; 
	display: block;
	width: 140px;
}

.friend_planName{
	color:#2e446f;
	position:relative;
  	font-size: 24px;
  	font-weight: bolder;
	top:-84px;
	left:100px; 
	width: 270px;  
	height:24px;
	text-overflow:ellipsis;  
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
}
.friend_planName:hover{
    color:#f7a89a;  
	text-overflow:clip;
	overflow:visible;
	white-space: normal;	
}
.friend_sure{
	background: url(../img/friend/btn_friendSure.png) no-repeat;
	background-size: cover;
	width: 100px;
	height: 30px;
	position: relative;
	top: -78px;
	left: 160px;
}
.btn_friendDelete{
	position:relative;
  	background: url(../img/friend/btn_friendDelete.png) no-repeat;
	top:-110px;
	left:280px;
	background-size:cover;
	width:100px;
	height:36px; 
	cursor: pointer;
}
.btn_friendDelete:hover{
  	background-position: 0% 102%;
}

.btn_friendCancel{
	position:relative;
  	background: url(../img/friend/btn_friendCancel.png) no-repeat;
	top:-65px;
	left:280px;
	background-size:cover;
	width:100px;
	height:39px; 
	cursor: pointer;
}
.btn_friendCancel:hover{
  	background-position: 0% 102%;
}

.btn_friendInvite{
	position:relative;
  	background: url(../img/friend/btn_friendInvite.png) no-repeat;
	top:-60px;
	left:280px;
	background-size:cover;
	width:100px;
	height:38px; 
	cursor: pointer;
}
.btn_friendInvite:hover{
  	background-position: 0% 102%;
}


#friend_search::-webkit-input-placeholder{
	color: #a9c6ff;
	font-weight: bold;
	text-align: center;
}
#friend_search:focus::-webkit-input-placeholder{	
	font-weight: bold;
	text-align: center;
}
#friend_search:-moz-placeholder { /* Firefox 18- */
	color: #a9c6ff;
	font-weight: bold;
	text-align: center;
}
#friend_search:focus:-moz-placeholder { /* Firefox 18- */

	font-weight: bold;
	text-align: center;
}
#friend_search::-moz-placeholder {  /* Firefox 19+ */
	color: #a9c6ff;
	font-weight: bold; 
	text-align: center;
}
#friend_search:focus::-moz-placeholder {  /* Firefox 19+ */

	font-weight: bold; 
	text-align: center;
}
#friend_search:-ms-input-placeholder {  /* Internet Explorer 10 */
	color: #d7e4ff;
	font-weight: bold;
	text-align: center;	
}
#friend_search:focus:-ms-input-placeholder {  

	font-weight: bold;
	text-align: center;	
}
/*scollbar*/

#friend_list::-webkit-scrollbar {
    margin-left:20px;  
    width: 30px;
}

#friend_list::-webkit-scrollbar-track {
    display:none;
} 

#friend_list::-webkit-scrollbar-thumb:vertical{ 
    //background: url(../img/friend/friend_scroll.png) no-repeat;
	//background-size: 36px 100%;
	//background-position: center center;
	background: white;
	border: #6A8ABF 5px solid;
	border-radius: 10px;
	cursor:pointer;	
}

#friend_list::-webkit-scrollbar-button {
    display:none;
}

#friend_list::-webkit-scrollbar-corner {
    display:none;
}
