/*** PAGE LEFT***/
.plan_title{
	position:absolute;
	margin-top: 30px;
	padding-left: 20px;
	font-size: 30px;
	cursor: default; 
}

.plan_timer{
	position:absolute;
	top:10px;
	left:40px;
	z-index:+1;
	text-align:center;
	margin:1% 0;
}
/*** Game Content ***/
.plan_gameContent{
	position:absolute;
	top:75px;
	background: url(../img/game/gameBackground.png);
	background-size:contain;
	height:363px;
	width:340px;
	margin:1% 5%;
	padding:3% 0%;
	font-size: 40px;
}

.plan_gameContent img{
	width:25%;
	position:relative;
	top:160px;
	left:55px;
}

.game_bean{
	background: url(../img/game/bean_1.png);
	background-size:contain;
	position:absolute;
	top:79.55px;
	left:127px;
	height:87.2px;
	width:88px;
}

.game_ropeX{
	background: url(../img/game/rope_x.png);
	background-size:contain;
	position:absolute;
	top:129px;
	left:125px;
	height:4.5px;
	width:0px;
}

.game_ropeY{
	background: url(../img/game/rope_y.png) no-repeat;
	background-size:cover;
	position:absolute;
	top:30px;
	left:53px;
	height:96px;
	width:5px;
}

.game_beltSystem{
	background: url(../img/game/beltSystem_1.png) no-repeat;
	background-size:contain;
	position:absolute;
	top:165px;
	left:119px;
	height:150px;
	width:225px;
}

.game_container{
	background: url(../img/game/container.png) no-repeat;
	background-size:contain;
	position:absolute;
	z-index:+1;
	top:125px;
	left:3px;
	height:99px;
	width:120px;
}

.game_bug{
	background: url(../img/game/bugCry_1.png) no-repeat;
	background-size:contain;
	position:absolute;
	top:192px;
	left:21px;
	height:102px;
	width:90px;
	animation:bug_cry 2s infinite;
	-webkit-animation:bug_cry 2s infinite; /* Safari and Chrome */
}

@keyframes bug_cry
{
0%   {background: url(../img/game/bugCry_1.png) no-repeat;}
50%   {background: url(../img/game/bugCry_2.png) no-repeat;}
100% {background: url(../img/game/bugCry_1.png) no-repeat;}
}

@-webkit-keyframes bug_cry /* Safari and Chrome */
{
0%   {background: url(../img/game/bugCry_1.png) no-repeat;}
50%   {background: url(../img/game/bugCry_2.png) no-repeat;}
100% {background: url(../img/game/bugCry_1.png) no-repeat;}
}

.game_bicycle{
	background: url(../img/game/bicycle_1.png) no-repeat;
	background-size:contain;
	position:absolute;
	top:185px;
	left:150px;
	height:200px;
	width:150px;
	animation:ride_bicycle 1s infinite;
	-webkit-animation:ride_bicycle 1s infinite; /* Safari and Chrome */
}

@keyframes ride_bicycle
{
0%   {background: url(../img/game/bicycle_1.png) no-repeat;}
4%   {background: url(../img/game/bicycle_1.png) no-repeat;}
36%   {background: url(../img/game/bicycle_2.png) no-repeat;}
68%   {background: url(../img/game/bicycle_3.png) no-repeat;}
100%   {background: url(../img/game/bicycle_1.png) no-repeat;}
}

@-webkit-keyframes ride_bicycle /* Safari and Chrome */
{
0%   {background: url(../img/game/bicycle_1.png) no-repeat;}
4%   {background: url(../img/game/bicycle_1.png) no-repeat;}
36%   {background: url(../img/game/bicycle_2.png) no-repeat;}
68%   {background: url(../img/game/bicycle_3.png) no-repeat;}
100%   {background: url(../img/game/bicycle_1.png) no-repeat;}
}

.bubble 
{
position: relative;
font-size:15px;
top:-40px;
left:10px;
width: 120px;
height: 50px;
padding: 3px;
background: #FED45E;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
border: #000000 solid 1px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 10px 0;
border-color: #FED45E transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 50px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 10px 0;
border-color: #000000 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -16px;
left: 50px;
}

/*** PAGE RIGHT***/

#plan_now{
	position:relative;
	width:60px;
	height:23px;
	top:0px;
	font-size:20px;
	border-width:0px;
	background: #D0DDE9;
	color: black;
	text-align:center;
}


.plan_progress{
	position: relative;
	top: 45px;
	
	margin: 5% auto;
	width: 80%;
	text-align:center;
	padding: 10px;
	line-height: 30px;	
	font-size: 20px;
}

.plan_progressTitle{
	position:absolute;
	top:30px;
	left:40px;
	font-size:30px;
	
}

.plan_diary{
	position:relative;
	top:30px;
	left:40px;
	font-size: 30px;
	cursor: default; 
	
}

.plan_diaryContent{
	position:relative;
	top:35px;
	width: 80%;
	height: 20%;
	margin: 0 10%;
	border-width:0px;
	background: #D0DDE9;
	padding:5px;
	resize: none;
}

.plan_bean{
	position:absolute;
	width:340px;
	height:50px;
	top:410px;
	left:27px;
	background: url(../img/bean.png);
	
	cursor: pointer;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

.rangeInput{
	-webkit-appearance: none;
	background:lightgreen;
	
	width: 250px; 
	height: 20px; 
	margin: 5px 0; 
	padding: 0;
}

.rangeInput::-webkit-slider-thumb{
	-webkit-appearance: none;
	background:green;	
	width: 10px; 
	height: 30px; 
}

.rangeOutput{
	background:white;
	padding-left:10px;
	padding-right:10px;
	background:transparent;
}

.WoodBoard{
	position:relative;
	top:50px;
	left:230px;
	background: url(../img/WoodBoard.png);
	background-repeat:no-repeat;
	background-size:cover;
	width:100px;
	height:130px;
	line-height: 100px;
	text-align: center;
	font-size: 22px;
}
