#book input:focus, #book textarea:focus{
	outline:none;	
}

.page_left{
	position: absolute;
	left: 0;
	//background: url(../img/paper1.jpg) 0 0;
	background:#e8f0fb;
	
	box-shadow: inset -10px 0px 15px -10px #5A8397;
}

.page_right{
	position: absolute;
	right: 0;	
	top:0;
	//background: url(../img/paper1.jpg) 0 0;
	background:#e8f0fb;
	box-shadow: inset 10px 0px 15px -10px #5A8397;
}

.page_right, .page_left{
	//text-align:center;
	padding-top:0;

	height: 100%;
	width: 50%;
}

.page_left input[type=text]{
	background: #7794BF;
	color: white;
	border-width:0px;
	padding: 2px 5px;
}